@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
}

main {
    width: 500px;
}

main > div {
    padding: 0 20px 20px 20px;
}

main > img {
    padding: 15px;
    width: 100%;
}