@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 300px;
    /* border: 1px solid black; */
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
    box-shadow: 0 0 30px hsla(220, 15%, 55%, 0.1);
}

main > div {
    padding: 0 25px 30px 25px;
}

main > img {
    padding: 15px 15px 0 15px;
    width: 100%;
    border-radius: 25px;
}

p {
    color: hsl(220, 15%, 55%);
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.45rem;
    margin: 15px 0;
}